.container-billing{

}

.form-add-service{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 15px;
    padding: 25px;
}

.title-form-add-service{
    font-size: 17px;
}

.field input{
    overflow: visible;
    display: block;
    margin-top: 0px;
    margin-bottom: 13px;
}

.field{
    display: inline-block;
}

select{
    display: block;
}

.list-services-actives{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 21px;
    margin-bottom: 15px;
}

.title-form-add-service{

}
